@font-face {
  font-family: "Formular";
  src: url("@/assets/fonts/Formular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Formular";
  src: url("@/assets/fonts/Formular-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Greenwich";
  src: url("@/assets/fonts/Greenwich-Medium.woff2") format("woff2");
  font-weight: 500;
}

$formular: "Formular", sans-serif;
$greenwich: "Greenwich", sans-serif;
