.stars {
  display: flex;
  align-items: center;
  column-gap: 6px;
}

.star {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  background-color: $egg-yellow;
}

.star__polygon {
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  background-color: $white;
  background: linear-gradient(to right, $egg-yellow 0%, $white 0%);
}
