// font-sizes
$default: 1.125rem;
$small: 0.875rem;
$big: 1.5rem;

// colors
$egg-yellow: #fcc141;
$white: #fff;
$green-hover: #36a8a0;
$gray: #798595;

$primary-button-gradient: linear-gradient(to right, #e6f7f5 0%, #f8fcfc 100%);
$secondary-button-gradient: linear-gradient(to right, #3cb9a0 0%, #1786ac 100%);
$secondary-button-gradient-hover: linear-gradient(
  to right,
  #36a8a0 0%,
  #36a8a0 100%
);
$primary-button-gradient-border: linear-gradient(
  to right,
  #aacedb 0%,
  #bee2e0 100%
);
